---
layout: default
title: Home
---

<p>
  TechMeetup is a monthly excuse for developers and the tech community
  around Scotland to meet up and learn new stuff from each other. No name
  badges, no sales pitches, just informative presentations from your peers
  and a chance to meet some of the tech community around you.
</p>

<p>
  We're not centred around specific languages, technologies or disciplines;
  we believe there's stuff to learn from mixing everyone together. There's
  no cost to attend either!
</p>

<div id="upcoming-events">
  <h1>Upcoming Events</h1>
{% assign current_time = site.time | date: '%Y-%m-%dT%H:%M:%S%Z' %}
{% assign future_events = site.data.index | where_exp: "item", "item.date >= current_time" | sort: 'date' %}
{% assign past_events = site.data.index | where_exp: "item", "item.date < current_time" | sort: 'date' | reverse %}
  
{% assign sorted = future_events | concat: past_events %}
  {% for event in sorted %}
  <div class="event">
      <div class="event-date-time event-date-time--{% cycle "pink", "green" %}">
        {% if event.active == "true" %}
        <div class="event-date">
          {% assign d = event.date | date: "%-d" %}
{% case d %}
  {% when "1" or "21" or "31" %}{{ d }}st
  {% when "2" or "22" %}{{ d }}nd
  {% when "3" or "23" %}{{ d }}rd
  {% else %}{{ d }}th
{% endcase %}
        </div>
        <div class="event-month">{{ event.date | date: "%b"}}</div>
        <div class="event-year">{{ event.date | date: "%Y"}}</div>
        <div class="event-time">{{ event.date | date: "%R"}}</div>
        {% else %}
        <div class="event-month">TBC</div>
        {% endif %}
      </div>
      <div class="event-details">
        <div class="event-name">
          {% if event.meetup %}
          <a class="event-link" href="{{ event.meetup }}">{{ event.city }} TechMeetup</a>
          {% else %}
            <a class="event-link" href="{{ site.baseurl }}/{{ event.city }}.html">{{ event.city }} TechMeetup</a>
          {% endif %}
        </div>
        <div class="event-on">
          <i>{{ event.on }}</i>
        </div>
        <div class="event-location">
          <a href="{{ event.location.link }}">{{ event.location.address }}</a>
        </div>
        {% if event.active == "true" %}
        <div class="event-description">
            {% for speaker in event.speakers %}
            <p>
              <strong>{{ speaker.name }}</strong>
              <br />
              {{ speaker.talk }}
            </p>
            {% endfor %}
        </div>
        {% else %}
        <div class="event-description">
          <p>
            <strong>Not recovered from Covid</strong>
          </p>
      </div>
        {% endif %}
          {% if event.meetup %}
            <a class="event-link" href="{{ event.meetup }}">
          {% else %}
            <a class="event-link" href="{{ site.baseurl }}/{{ event.city }}.html">
          {% endif %}
        <div class="event-more-info-link">
          <span class="event-link-button">More info</span>
        </div>
      </a>
      </div>
  </div>
  {% endfor %}
</div>

<div id="contact-us">
  <h2>Contact Us</h2>
  <ul>
    <li><a href="http://www.twitter.com/techmeetup"><img src="{{site.baseurl}}/static/img/twitter.png" />@techmeetup</a> </li>
    <li><a href="http://groups.google.com/group/techmeetup?pli=1"><img src="{{site.baseurl}}/static/img/googlegroups.png" />Get Announcements</a> </li>
    <li><a href="https://join.slack.com/t/techmeetupcommunity/shared_invite/zt-1qex1j4fb-0EuNMAIGIFYwAOWe89IxNA"><img src="{{site.baseurl}}/static/img/slack.png" />Join Discussions on Slack</a> </li>
    <li><a href="https://github.com/techmeetup"><img src="{{site.baseurl}}/static/img/github.png" />GitHub</a> </li>
  </ul>
</div>

<div id="recent-posts">
  <h2>Recent Posts</h2>
  <ul>
    {% for post in site.posts limit:3 %}
    <li>
      <span>{{ post.date | date_to_string }}</span> &raquo;
      <a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
  </ul>
</div>
