{% extends "base.html" %}

{% block content %}
<ul id="cities"> 
  <li class="edinburgh">
    <h4>Edinburgh</h4> 
    <p>Jo Walsh will cover the basics of spatial databases.</p>
    <p><a href="" class="map">Appleton Tower</a></p>
    <div class="when" style="background:#5BBF00">
      <div class="daywrap">
        <div class="day">12th</div>
        <div class="month">May</div>
      </div>
      <div class="time">6:30PM</div>
    </div>
  </li> 
  <li class="glasgow">
    <h4>Glasgow</h4> 
    <p>Neil Scott from http://visit-glasgow.info/ and Dave Sapien from http://www.meandthegiants.com/.</p>
    <p><a href="" class="map">Floor 1, Saltire Centre, GCal Uni</a></p>

</p> 
    <div class="when">
      <div class="daywrap">
        <div class="day">28th</div>
        <div class="month">Apr</div>
      </div>
      <div class="time">6:30PM</div>
    </div>
  </li> 
  <li class="aberdeen">
    <h4>Aberdeen</h4> 
    <p>Gordon Murrison & Martin Evans.</p>
    <p><a href="" class="map">North Side Meston Building, Aberdeen Uni </a> </p>
</p> 
    <div class="when">
      <div class="daywrap">
        <div class="day">24th</div>
        <div class="month">Feb</div>
      </div>
      <div class="time">7PM</div>
    </div>
  </li> 
</ul> 

<div style="overflow:auto">
  <div id="mailinglists">
    <img src="/static/img/groups.png" />
    <a href="http://groups.google.com/group/techmeetup?pli=1">
      Get Announcements</a> about upcoming techmeetups, or<br />
    <a href="#">Join Discussions</a> with the rest of the community.
  </div>
  <div id="twitter"> 
    <a href="http://www.twitter.com/daleharvey"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" alt="Follow daleharvey on Twitter"/></a>  
    Follow us on twitter and stuff.
  </div> 
</div>  

<h4 id="recent">Recent Blog Posts</h4> 
<ul id="blog">
  {% for post in latest_blogposts %}
  <li><a href="{{ post.get_absolute_url }}"><h5>{{ post.title }}</h5></a></li>
  {% endfor %}
</ul> 
{% endblock content %}
