{% extends "base.html" %}

{% load humanize %}

{% block content %}

<div id="head">
  <div id="intro">
       <p>We founded the TechMeetup because there is an abundance of events for entrepreneurs to meet investors and lawyers, and next to nothing for techies and tech. Considering the wealth of tech talent around (yes you), why haven’t we made the effort before to get to know everyone – see what else everyone is working on – get help on our projects from others – and talk about some of the cool stuff we’re doing – web apps, software, mobile apps, hardware, games…</p>

       <p>Networking sounds like something that you do if you’re in PR or sales, so we don’t call it that and we don’t make it feel like that. There’s no name badges, no canapés. There’s just pizza and beer, a projector and a load of techies arguing about stuff. Come along to a TechMeetup and meet who else is involved in your tech scene.</p>
  </div>

  <div id="sponsors"><h4>Thanks to our sponsors:</h4>
    <ul>
      <li><a href="http://www.skyscanner.net/" class="fadehover">
          <img src="/static/img/skyscanner.png" />
      </a></li>
      <li><a href="http://www.skyscanner.net/" class="fadehover">
          <img src="http://edgecase.com/images/edgecase_logo_big.png" />
      </a></li>
    </ul>
  </div>

</div>

<ul id="cities">
  {% for meetup in meetups %}
  <li class="{% cycle "first" "" "last" %}">
    <h4>{{ meetup.location.name }}</h4>
    <span>{{ meetup.location.occurrence }}</span>
    <p><a href="{{ meetup.map_link }}" class="map">{{ meetup.where }}</a></p>
    <p>{{ meetup.description|safe|linebreaks }}</p>
    <div class="datewrapper">
      <div class="when">
        <div class="daywrap">
          <div class="day">{{ meetup.when|date:"jS" }}</div>
          <div class="month">{{ meetup.when|date:"M" }}</div>
        </div>
        <div class="time">{{ meetup.when|date:"g.iA" }}</div>
      </div>
    </div>
  </li>
  {% endfor %}
</ul>

<div id="contact">
  <div id="mailinglists">
    <img src="/static/img/twitter.png" />
    <a href="http://www.twitter.com/techmeetup">@techmeetup</a>
    <span id="last_twitter_created">{{ tweet.date|naturalday }}</span>
	<p>&#8220;{{ tweet.text|urlize }}&#8221;</p>
  </div>

  <div id="twitter">
    <img src="/static/img/groups.png" />
    <a href="http://groups.google.com/group/techmeetup?pli=1">
      Get Announcements</a> about upcoming techmeetups, or<br />
    <a href="http://groups.google.com/group/techmeetup-discussions">
      Join Discussions</a> with the rest of the community.
  </div>
</div>

<h5 id="recent">recent posts</h5>
<ul id="blog">
  {% for post in latest_blogposts %}
  <li>
    <span>{{ post.created|date:"d M Y" }}</span> &raquo;
    <a href="{{ post.get_absolute_url }}"><h4>{{ post.title }}</h4></a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}
