/******************************************************************************
   TAG STYLES
******************************************************************************/
* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font: 14px/1.7 Arial, 'Helvetica Neue', sans-serif;
  background: #111;
  color: #eee;
  width: 100%;
}

h1 {
  font-size: 220%;
}
h2 {
  font-size: 180%;
}
h3 {
  font-size: 160%;
}
h4 {
  font-size: 140%;
}
h5 {
  font-size: 100%;
}
h6 {
  font-size: 90%;
}
sub {
  font-size: 70%;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
  line-height: 100%;
  color: #33a5d1;
  text-shadow: #111 1px 1px 1px;
  font-weight: normal;
  margin-bottom: 0.5em;
}

a img {
  border: none;
}

a {
  color: #33a5d1;
  text-decoration: none;
}

p {
  margin-bottom: 0.5em;
}

ul,
ol {
  padding-left: 2em;
}

li {
  margin: 0.5em 0;
}
/******************************************************************************
   GLOBAL STYLES
******************************************************************************/
.clear {
  clear: both;
}

#wrapper {
  background: #30363e;
}

#headerwrapper {
  margin-top: 5px;
  background: #111;
  color: #30363e;
  border-bottom: 1px solid #888;
  -moz-box-shadow: -5px 1px 5px black;
  -webkit-box-shadow: -5px 1px 5px black;
  box-shadow: -5px 1px 5px black;
  padding: 10px 0px;
}
#content {
  margin: 25px auto 0px auto;
  background: #30363e;
  font-size: 1.3em;
}
#content sub {
  color: #999;
}

#last_twitter_created {
  font-size: 70%;
  color: #999;
}

#header {
  background: #111;
  margin: 0 auto;
  position: relative;
}

#header h1 a {
  background: url(../img/techmeetup_logo.png);
  display: block;
  height: 43px;
  width: 190px;
  text-indent: -999px;
  outline: none;
  margin-left: 0.5em;
}
#header a:link,
#header a:visited {
  font-family: 'Trebuchet MS', verdana;
  color: #fff;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}

#header ul {
  list-style: none;
}

#header > ul > li {
  display: inline-block;
  margin: 0 18px 0 0;
  font-size: 120%;
}

@media screen and (min-width: 940px) {
  #header {
    width: 940px;
  }
  #content {
    width: 940px;
    padding: 0 0 25px 0;
  }

  #header h1 {
    margin: 0px;
    float: left;
  }
  #header ul {
    text-align: right;
  }

  #header > ul > li {
    display: inline-block;
    margin: 5px 0px 0px 35px;
    font-size: 120%;
  }
}

#footerwrapper {
  border-top: 1px solid #888;
  -moz-box-shadow: -5px -1px 5px black;
  -webkit-box-shadow: -5px -1px 5px black;
  box-shadow: -5px -1px 5px black;
}

#footer {
  margin: 0px auto;
  padding: 20px 0px;
  overflow: auto;
}

#footer .last a {
  display: block;
  padding: 5px 0;
}

.fadehover {
  -moz-transition: opacity 0.5s;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
  opacity: 0.7;
}

.fadehover:hover {
  opacity: 1;
}

#footerwrapper,
#footer {
  background: #111;
}
#footer section {
  display: block;
  margin-right: 0px;
  padding-left: 0px;
  text-align: center;
  margin-top: 40px;
}
#footer section.last {
  margin-right: 0px;
}
#footer h4 {
  font-size: 90%;
  color: #999;
}
#footer ul {
  padding: 0px;
  margin-top: 10px;
  list-style-type: none;
}
#footer ul li {
  margin: 0px;
}
#footer ul li a {
  color: #ddd;
  padding: 3px 0px;
  text-decoration: none;
  font-size: 90%;
}
#footer ul li a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 940px) {
  #footerwrapper {
    min-width: 940px;
  }
  #footer {
    width: 940px;
  }
  #footer section {
    display: inline;
    width: 204px;
    float: left;
    text-align: left;
    margin-right: 40px;
    margin-top: 0;
  }
}

/******************************************************************************
   FRONT PAGE
******************************************************************************/

#blog {
  list-style: none;
}

#blog a {
  text-decoration: none;
}
#blog h4 {
  color: #33a5d1;
  display: inline;
  text-shadow: #111 1px 1px 1px;
}

.details {
  color: #999999;
  margin-bottom: 15px;
}

.alignleft {
  margin: 10px;
  float: left;
}

.post h1 {
  margin: 0px;
}

#cal h4 {
  text-decoration: underline;
  cursor: pointer;
}
#cal ul {
  list-style-type: none;
}
#cal li {
  overflow: hidden;
  margin: 10px 10px 20px 10px;
}
#cal p {
  margin: 3px 0px 6px 0px;
}
#cal .when {
  width: 90px;
  float: left;
  text-align: center;
  margin-right: 10px;
}
#cal .date {
  display: block;
  margin: 2px 0px 2px 0px;
  font-weight: bold;
  color: white;
}
#cal .desc {
  display: none;
  margin-left: 110px;
}

#about-sponsors {
  margin: 0px 0 0 40px;
  background: #000;
  padding: 10px;
  border-radius: 5px;
}
#about-sponsors li {
  margin-top: 40px;
}
#about-sponsors ul {
  list-style: none;
}

#UpcomingEvents .openTechCalendarEventListEvent {
  padding: 20px 0;
}

.organisers img {
  padding-right: 0.5em;
}

/******************************************************************************
   FRONT PAGE - 2022 style
******************************************************************************/

#upcoming-events {
  margin-top: 1.5em;
  margin-bottom: 2em;
}

.event-name {
  text-transform: capitalize;
}

.event {
  color: black;
  background-color: white;
  display: flex;
  flex-direction: row;
  margin-top: 28px;
  margin-left: 20px;
  margin-right: 20px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.25);
}

.event .event-link {
  display: flex;
  flex-direction: row;
  color: #100f00;
  text-decoration: none;
}

.event .event-date-time {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-width: 80px;
  min-height: 240px;
}

@media (min-width: 576px) {
  .event .event-date-time {
    min-height: 160px;
  }

  #header h1 a {
    margin-left: 0;
  }
}

.event .event-date-time .event-date {
  font-weight: 300;
  font-size: 26px;
  line-height: 28px;
}

.event .event-date-time .event-month {
  font-weight: 600;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 28px;
}

.event .event-date-time .event-year {
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 28px;
}

.event .event-date-time .event-time {
  font-weight: 300;
  font-size: 26px;
  text-transform: uppercase;
  line-height: 52px;
}

.event .event-date-time--pink {
  background-color: #e348ae;
}

.event .event-date-time--green {
  background-color: #48e3d0;
}

.event .event-details {
  margin: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.event .event-details .event-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  text-transform: uppercase;
}

.event .event-details .event-on {
  font-size: 12px;
}

.event .event-details .event-location {
  font-weight: 600;
  font-size: 14px;
}

.event .event-details .event-description {
  font-weight: 400;
  font-size: 14px;
  padding-top: 4px;
}

.event .event-details .event-description p {
  margin-bottom: 4px;
}

.event .event-details .event-link-button {
  text-transform: uppercase;
  color: white;
  border-radius: 32px;
  background: #44b0ff;
  padding: 4px;
  font-size: 14px;
  line-height: 16px;
  display: block;
  width: 120px;
  text-align: center;
}

#contact-us img {
  width: 32px;
  height: 32px;
  vertical-align: middle;
  margin-right: 0.6em;
}

#contact-us ul {
  list-style-type: none;
}

#recent-posts ul {
  list-style-type: none;
}

#recent-posts {
  margin-top: 1.5em;
}
