/******************************************************************************
   TAG STYLES
******************************************************************************/
* {
    margin  : 0;
    padding : 0;
    border  : 0;
}

body {
    font       : 14px/1.7  Arial,"Helvetica Neue",sans-serif;
    background : #111;
    color      : #EEE;
    width      : 100%;
}

h1  { font-size: 220%; }
h2  { font-size: 180%; }
h3  { font-size: 160%; }
h4  { font-size: 140%; }
h5  { font-size: 100%; }
h6  { font-size: 90%;  }
sub { font-size: 70%; }

h1, h2, h3, h3, h4, h5, h6 {
    line-height : 100%;
    color       : #33A5D1;
    text-shadow : #111 1px 1px 1px;
    font-weight : normal;
    margin-bottom: 0.5em;
}


a img {
    border:none;
}

a {
    color           : #33A5D1;
    text-decoration : none;
}

p {
    margin-bottom:2em;
}

ul, ol {
    padding-left:2em;
}

li {
    margin:0.5em 0;
}
/******************************************************************************
   GLOBAL STYLES
******************************************************************************/
.clear {
    clear: both;
}

#wrapper {
    background : #30363E;
}

#headerwrapper {
    margin-top:5px;
    background      : #111;
    color           : #30363E;
    border-bottom   : 1px solid #888;
    -moz-box-shadow : -5px 1px 5px black;
    -webkit-box-shadow : -5px 1px 5px black;
    box-shadow : -5px 1px 5px black;
    padding: 10px 0px;
}
#content {
    margin     : 25px auto 0px auto;
    padding    : 25px 10px;
    background : #30363E;
}
#content sub {
    color : #999;
}

#last_twitter_created {
    font-size:70%;
    color : #999;
}


#sponsors ul { list-style: none; padding: 0; }
#sponsors { text-align: center; }
#sponsors li { margin-top: 20px; }

#header {
    background : #111;
    margin     : 0 auto;
    position   : relative;
}

#header h1 a {
    background:url(../img/techmeetup_logo.png);
    display:block;
    height:43px;
    width:190px;
    text-indent:-999px;
    outline:none;
}
#header a:link, #header a:visited {
    font-family     : "Trebuchet MS", verdana;
    color           : #FFF;
    text-decoration : none;
}
#header a:hover {
    text-decoration : underline;
}

#header ul {
    list-style : none;
}

#header > ul > li {
    display     : inline-block;
    margin      : 5px 0px 0px 35px;
    font-size   : 120%;
}

@media screen and (min-width: 940px) {
	#intro {
		width: 630px;
		margin-right: 20px;
		float:left;
	}
	#sponsors { width: 280px; float: right; }
	#header {
		width      : 940px;
	}
	#content {
		width      : 940px;
		padding    : 0 0 25px 0;
	}
	
	#header h1 {
		margin:0px;
		float  : left;
	}
	#header ul {
		position   : absolute;
		bottom     : 0px;
		right      : 0px;
		list-style : none;
		margin-top : 0px;
	}

	#header > ul > li {
		display     : inline-block;
		margin      : 5px 0px 0px 35px;
		font-size   : 120%;
	}
}


#footerwrapper {
    border-top:1px solid #888;
    -moz-box-shadow: -5px -1px 5px black;
    -webkit-box-shadow: -5px -1px 5px black;
    box-shadow: -5px -1px 5px black;
}

#footer {
    margin   : 0px auto;
    padding  : 20px 0px;
    overflow : auto;
}

#footer .last a {
    display:block;
    padding:5px 0;
}

.fadehover {
    -moz-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    opacity:0.7;
}

.fadehover:hover {
    opacity: 1;
}

#footerwrapper, #footer {
    background : #111;
}
#footer section {
    display      : block;
    margin-right : 0px;
    padding-left : 0px;
	text-align: center;
	margin-top: 40px;
}
#footer section.last {
    margin-right : 0px;
}
#footer h4 {
    font-size:90%;
    color       : #999;
}
#footer ul {
    padding: 0px;
    margin-top      : 10px;
    list-style-type : none;
}
#footer ul li {
    margin:0px;
}
#footer ul li a {
    color           : #DDD;
    padding         : 3px 0px;
    text-decoration : none;
    font-size       : 90%;
}
#footer ul li a:hover {
    text-decoration : underline;
}

@media screen and (min-width: 940px) {
	#footerwrapper {
		min-width:940px;
	}	
	#footer {
		width    : 940px;
	}
	#footer section {
		display      : inline;
		width        : 204px;
		float        : left;
		text-align: left;
		margin-right : 40px;
		margin-top: 0;
	}
}

/******************************************************************************
   FRONT PAGE
******************************************************************************/
@media screen and (min-width: 940px) {
	.cities {
		overflow              : auto;
		list-style-type       : none;
		background: -webkit-gradient(linear, 0 40%, 0 70%, from(#EFEFEF),
									 to(#CCC));
		background: -moz-linear-gradient(center top,  #EFEFEF,  #BBB)
								repeat scroll 0 0 transparent;
		background-color: #EFEFEF;

		-moz-box-shadow       : 1px 1px 5px #111;
		-webkit-box-shadow    : 1px 1px 5px #111;
		border                : 1px solid #222;
		margin                : 0px 0px 35px 0px;
		padding               : 10px 0px;
		overflow              : auto;
		width                 : 940px;
		-webkit-border-radius : 5px;
		-moz-border-radius    : 5px;
		border-radius : 5px;
	}
	.cities li {
		width         : 298px;
		float         : left;
		padding       : 0px 10px 0px 10px;
		margin        : 0px;
		position      : relative;
		border-right  : 1px solid #999;
		border-left   : 1px solid #DDD;
	}
	.cities li.first {
		border-left:0px;
	}
	.cities li.last {
		padding       : 0px 0px 0px 10px;
		width         : 290px;
		border-right  : 0px;
	}
	#secondcities { width: 650px; margin: 0 auto; margin-bottom: 3em; }
}

@media screen and (max-width: 940px) {
	.cities li {
		background: -webkit-gradient(linear, 0 40%, 0 70%, from(#EFEFEF),
									 to(#CCC));
		background: -moz-linear-gradient(center top,  #EFEFEF,  #BBB)
								repeat scroll 0 0 transparent;
		background-color: #EFEFEF;

		-moz-box-shadow       : 1px 1px 5px #111;
		-webkit-box-shadow    : 1px 1px 5px #111;
		border                : 1px solid #222;
		margin                : 10px 0;
		padding               : 10px 10px;
		-webkit-border-radius : 5px;
		-moz-border-radius    : 5px;
		border-radius : 5px;
		list-style-type: none;
		position      : relative;		
		width: 90%;
	}
}


.cities li p {
    margin    : 0px 0px;
    font-size : 90%;
    color     : #333;
}
.cities h4 {
    margin: 0px;
}
.cities span {
    position:relative;
    top:-5px;
    color:#555;
    font-size:70%;
    line-height:70%;
}

.datewrapper {
    position   : absolute;
    top        : 0px;
    right      : 10px;
    text-align : center;
}

.datewrapper sub {
    display : none;
    color   : #999;
}

.cities h4 {
    color       : #333;
    font-weight : bold;
    text-shadow : #FFF 1px 1px 0px;
}

.cities h4 a {
    color: #333;
}
.when {
    -moz-border-radius : 4px;
    -webkit-border-radius : 4px;
    color              : white;
    background         : blue;
    font-weight        : bold;
    text-align         : center;
    font-size          : 90%;
    line-height        : 14px;
    width              : 110px;
    padding            : 3px;
    text-shadow        : #275200 1px 1px 0px;
    background         : #57A621;
    overflow           : auto;
}

.daywrap {
    float : left;
    width : 30px;
}

.time {
    display     : block;
    width       : 80px;
    line-height : 28px;
    float       : right;
    text-align  : center;
    font-size   : 140%;
}

#recent {
    color        : #999;
    margin-top   : 25px;
    font-variant : small-caps;
    text-shadow:none;
}

#blog {
    padding: 0px;
    list-style : none;
}

#blog li { margin: 1em 0; }
#blog a {
    text-decoration:none;
}
#blog h4 {
    color       : #33A5D1;
    display     : inline;
    text-shadow : #111 1px 1px 1px;
}
.map {
    display         : block;
    line-height     : 16px;
    background      : url(../img/map.png) no-repeat;
    padding-left    : 20px;
    height          : 40px;
    text-decoration : none;
    color           : #106294 !important;
}
#mailinglists img, #twitter img {
		width        : 32px;
		height       : 32px;
}
@media screen and (min-width: 940px) {

	#mailinglists img, #twitter img {
		float        : left;
		margin-right : 10px;
		padding-bottom:50px;
	}

	#mailinglists p {
		margin:0px;
	}
	#mailinglists {
		width        : 449px;
		padding-right: 20px;
		float        : left;
		border-right : 1px solid #222;
	}

	#twitter {
		width        : 449px;
		float        : right;
		padding-left : 20px;
		border-left  : 1px solid #444;
	}

	#mailinglists, #twitter {
		height:100%;
	}

	#contact {
		height   : 95px;
	}
}

.details {
    color:#999999;
    margin-bottom:15px;
}

.alignleft {
    margin:10px;
    float:left;
}

.post h1 { margin:0px; }


#cal h4 { text-decoration:underline; cursor:pointer; }
#cal ul { list-style-type:none; }
#cal li { overflow:hidden; margin:10px 10px 20px 10px; }
#cal p { margin:3px 0px 6px 0px; }
#cal .when { width:90px; float:left; text-align:center; margin-right:10px;}
#cal .date { display:block; margin:2px 0px 2px 0px; font-weight:bold; color:white;}
#cal .desc { display:none; margin-left:110px;}

#about-sponsors { height: 100%; width: 280px; float: right; margin: 0px 0 0 40px; background: #000; padding: 10px; border-radius: 5px;  }
#about-sponsors li { margin-top: 40px; }
#about-sponsors ul { list-style: none; }

#head { min-height: 240px; overflow: auto; }

#UpcomingEvents .openTechCalendarEventListEvent {
	padding: 20px 0;
}



