<!DOCTYPE html>
<html lang="en"> 
  <head> 
    <meta charset="utf-8" /> 
    <link href="/static/css/desktop.css" rel="stylesheet" />
    <title>{% block title %}{% endblock title %}</title> 
    {% block head %}
    {% endblock head %}
  </head> 
  
  <body> 
    
    <div id="wrapper"> 
      <div id="headerwrapper"><div id="header"> 
          <h1><a href="{% url front %}">Tech Meetup</a></h1>        
          <ul> 
            <li><a href="/about/">About</a></li> 
            <li><a href="/videos/">Videos</a></li> 
            <li><a href="/blog/">Blog</a></li> 
            <li><a href="/speakers/">Speakers</a></li> 
            <li><a href="/calendar/">Calendar</a></li> 
          </ul> 
          <div class="clear"></div>
      </div></div>
      
      <div id="content">
        {% block content %}
        {% endblock content %}
      </div> 
      
    </div> 
    
    <div id="footerwrapper"><div id="footer"> 
        <section><h4>Site</h4> 
          <ul><li><a href="/about/">About</a></li> 
            <li><a href="/blog/">Blog</a></li> 
            <li><a href="/videos/">Videos</a></li> 
            <li><a href="/speakers/">Speakers</a></li> 
            <li><a href="/calendar/">Calendar</a></li> 
        </ul></section> 
        
        <section><h4>Community</h4> 
          <ul><li><a href="http://twitter.com/techmeetup">Twitter</a></li> 
            <li><a href="#">Bloop</a></li> 
            <li>
              <a href="http://groups.google.com/group/techmeetup-discussions">
                Discussions</a></li> 
            <li><a href="http://groups.google.com/group/techmeetup?pli=1">
                Announcements</a></li> 
        </ul></section> 
        
        <section><h4>Other Places</h4> 
          <ul><li><a href="http://startupcafe.co.uk">StartupCafe</a></li> 
        </ul></section> 
        
        <section><h4>Sponsors</h4>
          <ul><li><a href="">Flexiant</a></li> 
            <li><a href="#"><img src="/static/img/Informatics_white_red_dot.gif" /></a></li>         
        </ul></section>
          
    </div></div>
    
    <script src="/static/js/jquery-1.4.2.min.js"></script>
    <script src="/static/js/main.js"></script>

    {% block scripts %}
    {% endblock scripts %}

  </body> 
</html> 
